version: '3.8'
services:
    revpro:
        build: .
        ports:
            - "50132:80"
        links:
            - web
        environment:
            UPSTREAM_NAME: web
            UPSTREAM_PORT: 80
            FORCE_SSL: "false"
            DISABLE_PROXY_PROTOCOL: "true"
            REMOVE_PARAMS_FROM_LOGS: "true"
    web:
        image: yeasy/simple-web

