---
http_interactions:
- request:
    method: post
    uri: https://ecs.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"clusterName":"dev"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.CreateCluster
      X-Amz-Date:
      - 20151005T093409Z
      X-Amz-Content-Sha256:
      - 28c0169e70de534010437ded364724323d42d4fbc628144c97eb1366c97d7526
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ecs/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=3d73a12ca08e9a8089f2d1f7ce87dbcde061a3f45cf5ea74e0e26c8491b43bfe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 3b7c7bac-6b44-11e5-82d2-afcc9e1e395f
    body:
      encoding: UTF-8
      string: '{"cluster":{"activeServicesCount":1,"clusterArn":"arn:aws:ecs:ap-northeast-1:822761295011:cluster/dev","clusterName":"dev","pendingTasksCount":0,"registeredContainerInstancesCount":1,"runningTasksCount":1,"status":"ACTIVE"}}'
  recorded_at: Mon, 05 Oct 2015 09:34:10 GMT
- request:
    method: post
    uri: https://ecs.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"cluster":"dev","services":[]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.DescribeServices
      X-Amz-Date:
      - 20151005T093410Z
      X-Amz-Content-Sha256:
      - d5e79b6fd2828944b4a1ad3e34ef7252b78edf3df15ee22682177e4fc266ab85
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ecs/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=d7cc52adb7a8971326590a34c42c625d3599c9dc9459ba4df6f60ce2827b59df
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 3b955aa1-6b44-11e5-81a7-1bab7c04301e
    body:
      encoding: UTF-8
      string: '{"__type":"InvalidParameterException","message":"Services cannot be
        empty."}'
  recorded_at: Mon, 05 Oct 2015 09:34:10 GMT
recorded_with: VCR 2.9.3
