---
http_interactions:
- request:
    method: post
    uri: https://ecs.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"clusterName":"dev"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.CreateCluster
      X-Amz-Date:
      - 20151005T060159Z
      X-Amz-Content-Sha256:
      - 28c0169e70de534010437ded364724323d42d4fbc628144c97eb1366c97d7526
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ecs/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=9aff7b34708119c3f99b0a4fe90d53abc9870ee25ee2e66106434668890231b0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 97488706-6b26-11e5-bcd1-cf9eee490f50
    body:
      encoding: UTF-8
      string: '{"cluster":{"activeServicesCount":1,"clusterArn":"arn:aws:ecs:ap-northeast-1:822761295011:cluster/dev","clusterName":"dev","pendingTasksCount":0,"registeredContainerInstancesCount":1,"runningTasksCount":1,"status":"ACTIVE"}}'
  recorded_at: Mon, 05 Oct 2015 06:01:59 GMT
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-46f84523&Filter.2.Name=tag%3ANetwork&Filter.2.Value.1=Private&Version=2015-04-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151005T060159Z
      X-Amz-Content-Sha256:
      - 6b37e989e271b85a45a425b8b9231f64ade04083ecf570873ed7a48dc6f6b604
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=4a66ac8141e06a280d74383b52cc353fcf784100ffa8cd603abb73b3e586c1a9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2015-04-15/">
            <requestId>1e023d28-8b0f-4bf8-9dac-b263c36962a6</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-b13290e8</subnetId>
                    <state>available</state>
                    <vpcId>vpc-46f84523</vpcId>
                    <cidrBlock>10.0.2.0/24</cidrBlock>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>ap-northeast-1c</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>aws:cloudformation:logical-id</key>
                            <value>SubnetTrusted2</value>
                        </item>
                        <item>
                            <key>Name</key>
                            <value>barcelona-Trusted</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-name</key>
                            <value>barcelona</value>
                        </item>
                        <item>
                            <key>Network</key>
              [...]
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=RunInstances&IamInstanceProfile.Name=ecsInstanceRole&ImageId=ami-ce2ba4ce&InstanceType=t2.micro&KeyName=kkajihiro&MaxCount=1&MinCount=1&SecurityGroupId.1=sg-3b327b5e&SubnetId=subnet-7802890f&UserData=IyEvYmluL2Jhc2gKeXVtIGluc3RhbGwgLXkgYXdzLWNsaQphd3MgczMgY3Ag%0AczM6Ly9kZWdpY2EzLWJhcmNlbG9uYS9kZXYvZWNzLmNvbmZpZyAvZXRjL2Vj%0Acy9lY3MuY29uZmln%0A&Version=2015-04-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151005T060159Z
      X-Amz-Content-Sha256:
      - 71333d261c6457ad3eb84ad62544893edb3e769a03b1991f689925ec5e9d1e2a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=6b1baaba7bd69ad513ad972da1bf62b2a79d7a2205fe213cd9b04e1f19fc3762
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RunInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-04-15/">
            <requestId>31d46fc0-cd4f-4926-acc2-37e457a0255c</requestId>
            <reservationId>r-b4f23246</reservationId>
            <ownerId>822761295011</ownerId>
            <groupSet/>
            <instancesSet>
                <item>
                    <instanceId>i-ce4a856b</instanceId>
                    <imageId>ami-ce2ba4ce</imageId>
                    <instanceState>
                        <code>0</code>
                        <name>pending</name>
                    </instanceState>
                    <privateDnsName>ip-10-0-1-218.ap-northeast-1.compute.internal</privateDnsName>
                    <dnsName/>
                    <reason/>
                    <keyName>kkajihiro</keyName>
                    <amiLaunchIndex>0</amiLaunchIndex>
                    <productCodes/>
                    <instanceType>t2.micro</instanceType>
                    <launchTime>2015-10-05T06:02:00.000Z</launchTime>
                    <placement>
                        <availabilityZone>ap-northeast-1a</availabilityZone>
                        <groupName/>
                        <tenancy>default</tenancy>
                    </placement>
                    <monitoring>
                        <state>disabled</state>
                    </monitoring>
                    <subnetId>subnet-7802890f</subnetId>
                    <vpcId>vpc-46f84523</vpcId>
                    <privateIpAddress>10.0.1.218</privateIpAddress>
                    <sourceDestCheck>true</sourceDestCheck>
                    <groupSet>
                        <item>
                            <groupId>sg-3b327b5e</groupId>
                            <groupName>barcelona-InstanceSecurityGroup-F1B56AYLWN5S</groupName>
                        </item>
                    </groupSet>
                    <stateReason>
                        <code>pending</code>
                        <message>pending</message>
                    </stateReason>
                    <architecture>x86_64</architecture>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/xvda</rootDeviceName>
                    <blockDeviceMapping/>
                    <virtualizationType>hvm</virtualizationType>
                    <clientToken/>
                    <hypervisor>xen</hypervisor>
                    <networkInterfaceSet>
                        <item>
                            <networkInterfaceId>eni-1de51e54</networkInterfaceId>
                            <subnetId>subnet-7802890f</subnetId>
                            <vpcId>vpc-46f84523</vpcId>
                            <description/>
                            <ownerId>822761295011</ownerId>
                            <status>in-use</status>
                            <macAddress>06:00:78:2e:f9:85</macAddress>
                            <privateIpAddress>10.0.1.218</privateIpAddress>
                            <privateDnsName>ip-10-0-1-218.ap-northeast-1.compute.internal</privateDnsName>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-3b327b5e</groupId>
                                    <groupName>barcelona-InstanceSecurityGroup-F1B56AYLWN5S</groupName>
                                </item>
                            </groupSet>
                            <attachment>
                                <attachmentId>eni-attach-e2db18f9</attachmentId>
                                <deviceIndex>0</deviceIndex>
                                <status>attaching</status>
                                <attachTime>2015-10-05T06:02:00.000Z</attachTime>
                                <deleteOnTermination>true</deleteOnTermination>
                            </attachment>
                            <privateIpAddressesSet>
                                <item>
                                    <privateIpAddress>10.0.1.218</privateIpAddress>
                                    <privateDnsName>ip-10-0-1-218.ap-northeast-1.compute.internal</privateDnsName>
                                    <primary>true</primary>
                                </item>
                            </privateIpAddressesSet>
                        </item>
                    </networkInterfaceSet>
                    <iamInstanceProfile>
                        <arn>arn:aws:iam::822761295011:instance-profile/ecsInstanceRole</arn>
                        <id>AIPAILJRRVUXRYRLBPBMW</id>
                    </iamInstanceProfile>
                    <ebsOptimized>false</ebsOptimized>
                </item>
            </instancesSet>
        </RunInstancesResponse>
  recorded_at: Mon, 05 Oct 2015 06:02:00 GMT
recorded_with: VCR 2.9.3
