---
http_interactions:
- request:
    method: post
    uri: https://ecs.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"clusterName":"dev"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.CreateCluster
      X-Amz-Date:
      - 20151005T055947Z
      X-Amz-Content-Sha256:
      - 28c0169e70de534010437ded364724323d42d4fbc628144c97eb1366c97d7526
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ecs/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=8a5a88c0a3236c3e8d77005f99a84f794440b30c0fa263083bfa69c4c9d58936
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 48a748ec-6b26-11e5-9ac3-b912f6ed943e
    body:
      encoding: UTF-8
      string: '{"cluster":{"activeServicesCount":1,"clusterArn":"arn:aws:ecs:ap-northeast-1:822761295011:cluster/dev","clusterName":"dev","pendingTasksCount":0,"registeredContainerInstancesCount":1,"runningTasksCount":1,"status":"ACTIVE"}}'
  recorded_at: Mon, 05 Oct 2015 05:59:47 GMT
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-46f84523&Filter.2.Name=tag%3ANetwork&Filter.2.Value.1=Private&Version=2015-04-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151005T055947Z
      X-Amz-Content-Sha256:
      - 6b37e989e271b85a45a425b8b9231f64ade04083ecf570873ed7a48dc6f6b604
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=f1f4e56fd751441a35d525930db302f4df9dce4ae0bdd03b9d506ff2c80e24ec
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2015-04-15/">
            <requestId>1b1551d7-bc4c-498c-b5fc-3ecedee20cc7</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-b13290e8</subnetId>
                    <state>available</state>
                    <vpcId>vpc-46f84523</vpcId>
                    <cidrBlock>10.0.2.0/24</cidrBlock>
                    <availableIpAddressCount>251</availableIpAddressCount>
                    <availabilityZone>ap-northeast-1c</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>aws:cloudformation:logical-id</key>
                            <value>SubnetTrusted2</value>
                        </item>
                        <item>
                            <key>Name</key>
                            <value>barcelona-Trusted</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-name</key>
                            <value>barcelona</value>
                        </item>
                        <item>
                            <key>Network</key>
              [...]
