---
http_interactions:
- request:
    method: post
    uri: https://ecs.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"clusterName":"dev"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.CreateCluster
      X-Amz-Date:
      - 20151005T055948Z
      X-Amz-Content-Sha256:
      - 28c0169e70de534010437ded364724323d42d4fbc628144c97eb1366c97d7526
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ecs/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=bfa7399ef452ab1dce8dc632524ccff1fadfb5f458a73d559086d9227255aa7f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 4908c9f6-6b26-11e5-81a9-df2934969f5a
    body:
      encoding: UTF-8
      string: '{"cluster":{"activeServicesCount":1,"clusterArn":"arn:aws:ecs:ap-northeast-1:822761295011:cluster/dev","clusterName":"dev","pendingTasksCount":0,"registeredContainerInstancesCount":1,"runningTasksCount":1,"status":"ACTIVE"}}'
  recorded_at: Mon, 05 Oct 2015 05:59:48 GMT
- request:
    method: post
    uri: https://ec2.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeSubnets&Filter.1.Name=vpc-id&Filter.1.Value.1=vpc-46f84523&Filter.2.Name=tag%3ANetwork&Filter.2.Value.1=Public&Version=2015-04-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151005T055948Z
      X-Amz-Content-Sha256:
      - 432f09221b995c57841e9e5c683238f2a6f03f76f5dc827c5eda3f0ac3e0ca02
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AWS_ACCESS_KEY_ID/20151005/ap-northeast-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=c05a2549d9684be1ae25807b3ae4cfb8e3d53dffd54bbfc8988f3bbe1775a8ae
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeSubnetsResponse xmlns="http://ec2.amazonaws.com/doc/2015-04-15/">
            <requestId>cee8aa34-2e4a-4970-849b-c84653f62a27</requestId>
            <subnetSet>
                <item>
                    <subnetId>subnet-be3290e7</subnetId>
                    <state>available</state>
                    <vpcId>vpc-46f84523</vpcId>
                    <cidrBlock>10.0.130.0/24</cidrBlock>
                    <availableIpAddressCount>250</availableIpAddressCount>
                    <availabilityZone>ap-northeast-1c</availabilityZone>
                    <defaultForAz>false</defaultForAz>
                    <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>
                    <tagSet>
                        <item>
                            <key>Name</key>
                            <value>barcelona-Dmz</value>
                        </item>
                        <item>
                            <key>Application</key>
                            <value>barcelona</value>
                        </item>
                        <item>
                            <key>Network</key>
                            <value>Public</value>
                        </item>
                        <item>
                            <key>aws:cloudformation:stack-id</key>
                     [...]
