name: build
jobs:
  build:
    container:
      image: docker:git
      env:
        BARCELONA_ENDPOINT: https://barcelona.degica.com
        DOCKER_REPOSITORY: public.ecr.aws/degica/barcelona
        DOCKER_BUILDKIT: '1'
    runs-on: ubuntu-18.04
    steps:
    - name: prepare
      run: |-
        apk add --no-cache python3 py3-pip
        pip3 install --upgrade pip
        pip3 install awscli
    - uses: actions/checkout@v2
    - name: setup
      run: git submodule update --init
    - name: script
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |-
        if [[ ${GITHUB_REF##*/} == 'master' ]]; then
            IMAGE_TAG=$GITHUB_SHA # git SHA for staging/production deployments
        else
            IMAGE_TAG=${GITHUB_REF##*/} # branch name for dev usecases
        fi

        aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/degica

        docker build . -t $DOCKER_REPOSITORY:$IMAGE_TAG --build-arg git_revision=$IMAGE_TAG --pull
        docker images
        docker push $DOCKER_REPOSITORY:$IMAGE_TAG

  deploy:
    container:
      image: degica/rails-buildpack:2.6.5-stretch
      env:
        BARCELONA_ENDPOINT: https://barcelona.degica.com
    runs-on: ubuntu-18.04
    needs: [build]
    steps:
    - uses: actions/checkout@v2
    - name: deploy_setup
      if: github.ref == 'refs/heads/master'
      run: |-
        curl -L -o bcn.zip https://github.com/degica/barcelona-cli/releases/latest/download/bcn_linux_amd64.zip
        unzip ./bcn.zip && mv ./bcn /usr/bin/bcn

    - name: deploy_script
      if: github.ref == 'refs/heads/master'
      run: bcn deploy -q -e production --tag $GITHUB_SHA --heritage-token ${{ secrets.MAINLINE_HERITAGE_TOKEN }}
'on':
  push:
    branches: '*'
